<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="自由之旅网,个人博客">
    <meta name="description" content="自由之旅网">
    <title>自由之旅网</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/bg.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/www/fri.css"/>
</head>
<body>
    <div class="hats" style="display:none;">
        <div class="wrapper">
            <ul class="hats-user left">
                <li><a href="#" target="_blank">登录</a></li>
                <li><a href="#" target="_blank">注册</a></li>
                </ul>
            <ul class="hats-act right">
                <li><a href="#" target="_blank">新鲜资讯</a></li>
                <li><a href="#" target="_blank">站点地图</a></li>
                <li><a href="#" target="_blank">VIP</a></li>
                <li><a href="#" target="_blank">客户端</a></li>
                <li><a href="#" target="_blank">微博</a></li>
                <li><a href="#" target="_blank">微信</a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="wrapper">
            <a href="/" class="logo left"><img src="" width="120" height="50"/></a>
            <ul class="nav left">
                <li class="hover"><a href="/">首页</a></li>
                <li class="current"><a href="#">动态</a></li>
                <li><a href="#">项目</a></li>
                <li><a href="#">投资人</a>
                    <ul class="nav_sub none">
                        <li><a href="#">列表信息</a></li>
                        <li><a href="#">详细信息</a></li>
                    </ul>
                </li>
                <li><a href="#">创建项目</a></li>
                <li><a href="#">活动</a></li>
                
            </ul>
            <a href="#" class="child-site left">博客</a>
            <input type="text" class="search left" width="120" placeholder="全站综合搜索" />
            <a href="#" class="register left">注册</a>
            <em class="re-em-lo left">·</em>
            <a href="#" class="login left">登录</a>
        </div>
    </div>
    <div id="banner">
        <div id="kinMaxShow">
            <div><a href="#" target="_blank"><img src="images/index/banner.jpg" /></a></div>
            <div><a href="#" target="_blank"><img src="images/index/banner.jpg" /></a></div>
            <div><img src="images/index/banner.jpg" /></div>
        </div>
        <!--<a href="javascript:;" class="prev-b"></a><a href="javascript:;" class="next-b"></a> -->
        <style type="text/css">
        .KMSPrefix_kinMaxShow_button{display: block;}
        /*.prev-b{width: 45px;height: 100px;background: url(images/index/sprite.png) no-repeat;background-position:0 0;position: absolute;left:0;top:157px;z-index: 1000;  opacity: 0.5;display: inline-block;}
        .next-b{width: 45px;height: 100px;background: url(images/index/sprite.png) no-repeat;background-position:-55px 0;position: absolute;right:0;top:157px;z-index: 1000;  opacity: 0.5;display: inline-block;}*/
        </style>
    </div>
    <div class="data">
        <div class="wrapper center">
            <ul class="data-info clearfix">
                <li class="li-time"><sapn class="data-time">本月</sapn></li>
                <li>
                    <span class="data-digit" id="customer" data-newval="2052">2,824</span>
                    <div class="text">
                        <div class="num size-12 animate-init">241<span class="icon_upward">|</span></div>
                        <span class="pro size-12">创业项目</span>
                    </div>
                </li>
                <li>
                    <span class="data-digit" id="charge" data-newval="190,145">247,826</span>
                    <div class="text">
                        <div class="num size-12 animate-init">300<span class="icon_upward">|</span></div>
                        <span class="pro size-12">创业项目</span>
                    </div>
                </li>
            </ul>
            <a href="#" class="btn btn-buy middle">看项目</a>
            <a href="#" class="btn middle">看项目</a>
        </div>
    </div>
    <div class="project wrapper clearfix">
        <div style="margin-top:-20px;">
            <div class="title-wrapper">
                <h2 class="activity-title">项目展示</h2>
                <a href="#" class="more-link">MORE</a>
            </div>
        </div>
        <ul class="project-con">
            <li class="item">
                <div class="figure">
                    <a href="" target="_blank">
                        <img src="/images/web_apl2.jpg" width="300" height="186"/>
                    </a>
                </div>
                <div class="main-info">
                    <div class="avatar"><a href="#" class="round-image-link" target="_blank" title="托您的福"><img alt="" src="/images/owl.png" title=""></a></div><div class="name size-16 field one-line"><a href="#" alt="托您的福" class="user-link blue-font" style="text-decoration: none;" target="_blank" title="托您的福">托您的福</a></div><div class="pitch size-13">一个出国留学群体的英语学习与社交网站。</div>
                </div>
                <div class="more-info">
                    <div class="row">
                        <div class="cell gray-font">
                            <span>团队特色</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>营销/PR（奥美）＋运营（决胜网）＋教研师资（新东方＋环球雅思）＋技术（日本JCBC银行）</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell gray-font">
                            <span>运营数据</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>开发内测</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="figure">
                    <a href="" target="_blank">
                        <img src="/images/web_apl2.jpg" width="300" height="186"/>
                    </a>
                </div>
                <div class="main-info">
                    <div class="avatar"><a href="#" class="round-image-link" target="_blank" title="托您的福"><img alt="" src="/images/owl.png" title=""></a></div><div class="name size-16 field one-line"><a href="#" alt="托您的福" class="user-link blue-font" style="text-decoration: none;" target="_blank" title="托您的福">托您的福</a></div><div class="pitch size-13">一个出国留学群体的英语学习与社交网站。</div>
                </div>
                <div class="more-info">
                    <div class="row">
                        <div class="cell gray-font">
                            <span>团队特色</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>营销/PR（奥美）＋运营（决胜网）＋教研师资（新东方＋环球雅思）＋技术（日本JCBC银行）</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell gray-font">
                            <span>运营数据</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>开发内测</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item mg-r0">
                <div class="figure">
                    <a href="" target="_blank">
                        <img src="/images/web_apl2.jpg" width="300" height="186"/>
                    </a>
                </div>
                <div class="main-info">
                    <div class="avatar"><a href="#" class="round-image-link" target="_blank" title="托您的福"><img alt="" src="/images/owl.png" title=""></a></div><div class="name size-16 field one-line"><a href="#" alt="托您的福" class="user-link blue-font" style="text-decoration: none;" target="_blank" title="托您的福">托您的福</a></div><div class="pitch size-13">一个出国留学群体的英语学习与社交网站。</div>
                </div>
                <div class="more-info">
                    <div class="row">
                        <div class="cell gray-font">
                            <span>团队特色</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>营销/PR（奥美）＋运营（决胜网）＋教研师资（新东方＋环球雅思）＋技术（日本JCBC银行）</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell gray-font">
                            <span>运营数据</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>开发内测</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="figure">
                    <a href="" target="_blank">
                        <img src="/images/web_apl2.jpg" width="300" height="186"/>
                    </a>
                </div>
                <div class="main-info">
                    <div class="avatar"><a href="#" class="round-image-link" target="_blank" title="托您的福"><img alt="" src="/images/owl.png" title=""></a></div><div class="name size-16 field one-line"><a href="#" alt="托您的福" class="user-link blue-font" style="text-decoration: none;" target="_blank" title="托您的福">托您的福</a></div><div class="pitch size-13">一个出国留学群体的英语学习与社交网站。</div>
                </div>
                <div class="more-info">
                    <div class="row">
                        <div class="cell gray-font">
                            <span>团队特色</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>营销/PR（奥美）＋运营（决胜网）＋教研师资（新东方＋环球雅思）＋技术（日本JCBC银行）</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell gray-font">
                            <span>运营数据</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>开发内测</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="figure">
                    <a href="" target="_blank">
                        <img src="/images/web_apl2.jpg" width="300" height="186"/>
                    </a>
                </div>
                <div class="main-info">
                    <div class="avatar"><a href="#" class="round-image-link" target="_blank" title="托您的福"><img alt="" src="/images/owl.png" title=""></a></div><div class="name size-16 field one-line"><a href="#" alt="托您的福" class="user-link blue-font" style="text-decoration: none;" target="_blank" title="托您的福">托您的福</a></div><div class="pitch size-13">一个出国留学群体的英语学习与社交网站。</div>
                </div>
                <div class="more-info">
                    <div class="row">
                        <div class="cell gray-font">
                            <span>团队特色</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>营销/PR（奥美）＋运营（决胜网）＋教研师资（新东方＋环球雅思）＋技术（日本JCBC银行）</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell gray-font">
                            <span>运营数据</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>开发内测</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item mg-r0">
                <div class="figure">
                    <a href="" target="_blank">
                        <img src="/images/web_apl2.jpg" width="300" height="186"/>
                    </a>
                </div>
                <div class="main-info">
                    <div class="avatar"><a href="#" class="round-image-link" target="_blank" title="托您的福"><img alt="" src="/images/owl.png" title=""></a></div><div class="name size-16 field one-line"><a href="#" alt="托您的福" class="user-link blue-font" style="text-decoration: none;" target="_blank" title="托您的福">托您的福</a></div><div class="pitch size-13">一个出国留学群体的英语学习与社交网站。</div>
                </div>
                <div class="more-info">
                    <div class="row">
                        <div class="cell gray-font">
                            <span>团队特色</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>营销/PR（奥美）＋运营（决胜网）＋教研师资（新东方＋环球雅思）＋技术（日本JCBC银行）</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell gray-font">
                            <span>运营数据</span>
                        </div>
                        <div class="cell black-font team_highlight">
                            <div>开发内测</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="project wrapper project-show clearfix">
        <div style="margin-top:-20px;">
            <div class="title-wrapper">
                <h2 class="activity-title">创投面对面</h2>
                <a href="#" class="more-link">MORE</a>
            </div>
        </div>
        <div class="project-case">
            <a href="#" class="project-case-img" style="z-index: 10;" target="_blank">
                <img src="/images/f2f.jpg" width="938" height="432" />
            </a>
            <div class="project-case-line">
                <a class="case-line"></a>
                <img src="/images/timeline.png" class="case-line" id="h_timeline_line">
            </div>
        </div>
    </div>
    <div class="project wrapper project-reco clearfix">
        <h2>盲投创投圈路演项目回报4倍</h2>
        <ul class="ul-fir">
            <li class="item">
                <div class="title">
                    <a href="#" class="icon_item"></a>
                    <a href="#" class="info">自由之旅网</a>
                </div>
                <div class="text">
                    <h3>33<span>倍</span></h3>
                    <p>投资回报</p>
                    <p class="time">2012年10月入驻</p>
                </div>
            </li>
            <li class="item">
                <div class="title">
                    <a href="#" class="icon_item"></a>
                    <a href="#" class="info">自由之旅网</a>
                </div>
                <div class="text">
                    <h3>33<span>倍</span></h3>
                    <p>投资回报</p>
                    <p class="time">2012年10月入驻</p>
                </div>
            </li>
            <li class="item">
                <div class="title">
                    <a href="#" class="icon_item"></a>
                    <a href="#" class="info">自由之旅网</a>
                </div>
                <div class="text">
                    <h3>33<span>倍</span></h3>
                    <p>投资回报</p>
                    <p class="time">2012年10月入驻</p>
                </div>
            </li>
            <li class="item">
                <div class="title">
                    <a href="#" class="icon_item"></a>
                    <a href="#" class="info">自由之旅网</a>
                </div>
                <div class="text">
                    <h3>33<span>倍</span></h3>
                    <p>投资回报</p>
                    <p class="time">2012年10月入驻</p>
                </div>
            </li>
        </ul>
        <ul class="ul-sec">
            <li class="item">
                <div class="title">
                    <a href="#" class="icon_item"></a>
                    <a href="#" class="info">自由之旅网</a>
                </div>
                <div class="text">
                    <h3>33<span>倍</span></h3>
                    <p>投资回报</p>
                    <p class="time">2012年10月入驻</p>
                </div>
            </li>
            <li class="item">
                <div class="title">
                    <a href="#" class="icon_item"></a>
                    <a href="#" class="info">自由之旅网</a>
                </div>
                <div class="text">
                    <h3>33<span>倍</span></h3>
                    <p>投资回报</p>
                    <p class="time">2012年10月入驻</p>
                </div>
            </li>
            <li class="item">
                <div class="title">
                    <a href="#" class="icon_item"></a>
                    <a href="#" class="info">自由之旅网</a>
                </div>
                <div class="text">
                    <h3>33<span>倍</span></h3>
                    <p>投资回报</p>
                    <p class="time">2012年10月入驻</p>
                </div>
            </li>
            <li class="item">
                <div class="title">
                    <a href="#" class="icon_item"></a>
                    <a href="#" class="info">自由之旅网</a>
                </div>
                <div class="text">
                    <h3>33<span>倍</span></h3>
                    <p>投资回报</p>
                    <p class="time">2012年10月入驻</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="project wrapper project-comp clearfix">
        <h2>已完成合作</h2>
        <ul class="ul-fin">
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
            <li class="item">
                <a href="#">
                </a>
                <p>已完成合作</p>
            </li>
        </ul>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper" style="position:relative; height:360px;">
            <div class="footer-choice center">
                <em>--</em>
                <span>选择自由之旅的理由</span>
            </div>
            <ul class="footer-reasons">
                <li class="item">
                    <a href="#" class="icon_comm" target="_blank">
                        <img src="images/group.png" width="70" height="70" />
                        <p class="bold">活跃的创投圈子</p>
                    </a>
                    <p class="text-left">最活跃的专业投资人，不断更新的优质项目库，实力资本与潜力项目在此对接</p>
                </li>
                <li class="item">
                    <a href="#" class="icon_serv" target="_blank">
                        <img src="images/group.png" width="70" height="70" />
                        <p class="bold">活跃的创投圈子</p>
                    </a>
                    <p class="text-left">最活跃的专业投资人，不断更新的优质项目库，实力资本与潜力项目在此对接</p>
                </li>
                <li class="item">
                    <a href="#" class="icon_effi" target="_blank">
                        <img src="images/group.png" width="70" height="70" />
                        <p class="bold">活跃的创投圈子</p>
                    </a>
                    <p class="text-left">最活跃的专业投资人，不断更新的优质项目库，实力资本与潜力项目在此对接</p>
                </li>
                <li class="item">
                    <a href="#" class="icon_digi" target="_blank"><img src="images/group.png" width="70" height="70" />
                        <p class="bold">活跃的创投圈子</p>
                    </a>
                    <p class="text-left">最活跃的专业投资人，不断更新的优质项目库，实力资本与潜力项目在此对接</p>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="footer-wrap">
            <div class="footer-wrap-links">
                <div class="ilinks center">
                    <a href="#" class="blue" target="_blank">新闻动态</a>
                    <a href="#" class="blue" target="_blank">专题报道</a>
                    <a href="#" class="blue" target="_blank">关于我们</a>
                    <a href="#" class="blue" target="_blank">服务条款</a>
                    <a href="#" class="blue" target="_blank">隐私条款</a>
                    <a href="#" class="blue" target="_blank">联系我们</a>
                </div>
                <div class="flinks center">
                    <a href="/" target="_blank">@自由之旅</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer-copy center">
            <p>Copyright © 自由之旅 鄂ICP备12016076号-2</p>
        </div>
    </div>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <script src="/scripts/jquery.kinMaxShow-1.1.min.js"></script>
    <script src="/scripts/www/fri.js"></script>
    <script src="/scripts/countUp.min.js"></script>
</body>
</html>