<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="个人博客">
    <meta name="description" content="个人博客">
    <title>just playing!</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/bg.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/www/play.css"/>
</head>
<body>
    <header class="header-top">
        <div class="wrapper">
            <div class="left">
                <span icon-bg="icon-message"></span>
                <a href="#" target="_blank">375545256@qq.com</a>
            </div>
            <nav class="menu right">
                <a href="#" title="#menu2">menu2</a>
                <a href="#" title="#menu3">menu2</a>
                <a href="#" title="#menu3" class="sitemap highlight">网站地图</a>
                <a href="#" title="#menu1">menu</a>
            </nav>
            <div class="clear"></div>
        </div>
    </header>
    <div class="header wrapper">
        <div class="left">
            <a href="/" class="logo" icon-bg="logo"></a>
            <div class="slogan"></div>
            <div class="contact" icon-bg="icon-call"></div>
        </div>
        <div class="right">
            <div>
                <input type="text" accept-target=".searchbox-button" placeholder="目的地、项目名等" class="searchbox" value=""><span class="green button searchbox-button">搜索</span>
            </div>
        </div>
    </div>
    <div class="widebox">
        <div class="content wrapper">
            <section class="page-index">
                <nav class="page-menu">
                    <ul class="page-menu-list">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">列表页</a></li>
                        <li><a href="#">详细页</a></li>
                    </ul>
                </nav>
            </section>
            <section class="ad-box"></section>
            <section class="article-box"></section>
        </div>
    </div>
                <div class="nav-box left">
                <div class="item">
                    <div class="nav-box-lside">
                        <div class="top-title">
                            <p class="top-title-t">主题</p>
                            <p class="top-title-smt"><span>蜜月</span><span>蜜月</span><span>蜜月</span></p>
                        </div>
                    </div>
                    <div class="nav-box-rside" style="display:none;">
                        <div class="hide-nav">
                            <a href="#">蜜月</a>
                            <a href="#">亲子</a>
                            <a href="#">主题</a>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="nav-box-lside">
                        <div class="top-title">
                            <p>主题</p>
                            <p>蜜月</p>
                        </div>
                    </div>
                    <div class="nav-box-rside" style="display:none;">
                        <div class="hide-nav">
                            <div class="hide-nav-list left"></div>
                            <div class="hide-nav-pic right">
                                <a class="pic" href="http://www.tuniu.com/guide/d-ouzhou-3600/"><img src="http://img4.tuniucdn.com/u/mainpic/daohang/0121/oz_benfang.jpg"></a>
                                <a class="pic" href="http://www.tuniu.com/guide/d-ouzhou-3600/"><img src="http://img4.tuniucdn.com/u/mainpic/daohang/0121/oz_benfang.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item3">
                    <div class="nav-box-lside">
                        <div class="top-title">
                            <p>主题</p>
                            <p>蜜月</p>
                        </div>
                    </div>
                    <div class="nav-box-rside" style="display:none;">
                        <div class="hide-nav">
                            <a href="#">蜜月</a>
                            <a href="#">亲子</a>
                            <a href="#">主题</a>
                        </div>
                    </div>
                </div>
            </div>
    <footer class="footer wrapper"><p style="text-align:center;">@375545256qq.com</p></footer>
</body>
</html>