<!DOCTYPE html>
<html xmlns="http:/www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="自由之旅网,个人博客">
    <meta name="description" content="自由之旅网">
    <title>自由之旅网</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/bg.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/www/news.css"/>
</head>
<body>
    <div class="hats" style="display:none;">
        <div class="wrapper">
            <ul class="hats-user left">
                <li><a href="#" target="_blank">登录</a></li>
                <li><a href="#" target="_blank">注册</a></li>
                </ul>
            <ul class="hats-act right">
                <li><a href="#" target="_blank">新鲜资讯</a></li>
                <li><a href="#" target="_blank">站点地图</a></li>
                <li><a href="#" target="_blank">VIP</a></li>
                <li><a href="#" target="_blank">客户端</a></li>
                <li><a href="#" target="_blank">微博</a></li>
                <li><a href="#" target="_blank">微信</a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="wrapper">
            <a href="/" class="logo left"><img src="" width="120" height="50"/></a>
            <ul class="nav left">
                <li class="hover"><a href="/">首页</a></li>
                <li class="current"><a href="#">动态</a></li>
                <li><a href="#">项目</a></li>
                <li><a href="#">投资人</a>
                    <ul class="nav_sub none">
                        <li><a href="#">列表信息</a></li>
                        <li><a href="#">详细信息</a></li>
                    </ul>
                </li>
                <li><a href="#">创建项目</a></li>
                <li><a href="#">活动</a></li>
                
            </ul>
            <a href="#" class="child-site left">博客</a>
            <input type="text" class="search left" width="120" placeholder="全站综合搜索" />
            <a href="#" class="register left">注册</a>
            <em class="re-em-lo left">·</em>
            <a href="#" class="login left">登录</a>
        </div>
    </div>
    <div class="main wrapper">
        <div class="main-banner">
            <a href="#" target="_blank"><img src="/www/img/index/banner.jpg" /></a>
        </div>
        <div class="main-content clearfix">
            <div class="zone">
                <img src="/www/img/web_apl2.jpg" title="" width="144" height="84">
                <div class="text">
                    <h2>2015京津创业加速营第二期-只能硬件创业转成</h2>
                    <p>新浪微博：@fruitrip</p>
                </div>
                <a class="btn btn-apl middle">
                    报名活动
                </a>
            </div>
            <div class="news">
                <ul class="nav clearfix">
                    <li class="item current"><a href="#" title="">最新活动</a></li>
                    <li class="item"><a href="#" title="">合作活动</a></li>
                    <li class="item"><a href="#" title="">最新活动</a></li>
                    <li class="item"><a href="#" title="">合作活动</a></li>
                    <li class="item last"><a href="#" title="">合作活动</a></li>
                </ul>
                <div class="cont">
                    <ul class="info clearfix">
                        <li class="item">
                            <div class="date">
                                7/11
                            </div>
                            <div class="desc">
                                <h3>2015京津创业加速营第二期-只能硬件创业转成</h3>
                                <p>简介：2015京津创业加速营第二期-只能硬件创业转成2015京津创业加速营第二期-只能硬件创业转成</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="item">
                            <div class="date">
                                7/11
                            </div>
                            <div class="desc">
                                <h3>2015京津创业加速营第二期-只能硬件创业转成</h3>
                                <p>简介：2015京津创业加速营第二期-只能硬件创业转成2015京津创业加速营第二期-只能硬件创业转成</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="date">
                                7/11
                            </div>
                            <div class="desc">
                                <h3>2015京津创业加速营第二期-只能硬件创业转成</h3>
                                <p>简介：2015京津创业加速营第二期-只能硬件创业转成2015京津创业加速营第二期-只能硬件创业转成</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="date">
                                7/11
                            </div>
                            <div class="desc">
                                <h3>2015京津创业加速营第二期-只能硬件创业转成</h3>
                                <p>简介：2015京津创业加速营第二期-只能硬件创业转成2015京津创业加速营第二期-只能硬件创业转成</p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="date">
                                7/11
                            </div>
                            <div class="desc">
                                <h3>2015京津创业加速营第二期-只能硬件创业转成</h3>
                                <p>简介：2015京津创业加速营第二期-只能硬件创业转成2015京津创业加速营第二期-只能硬件创业转成</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="info clearfix" style="display:none;">
                        <li class="item">
                            <div class="date">
                                7/11
                            </div>
                            <div class="desc">
                                <h3>2015京津创业加速营第二期-只能硬件创业转成</h3>
                                <p>简介：2015京津创业加速营第二期-只能硬件创业转成2015京津创业加速营第二期-只能硬件创业转成</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <ul class="info clearfix" style="display:none;">
                        <li class="item">
                            <div class="date">
                                7/11
                            </div>
                            <div class="desc">
                                <h3>2015京津创业加速营第二期-只能硬件创业转成</h3>
                                <p>简介：2015京津创业加速营第二期-只能硬件创业转成2015京津创业加速营第二期-只能硬件创业转成</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <ul class="info clearfix" style="display:none;">
                        <li class="item">
                            <div class="date">
                                7/11
                            </div>
                            <div class="desc">
                                <h3>2015京津创业加速营第二期-只能硬件创业转成</h3>
                                <p>简介：2015京津创业加速营第二期-只能硬件创业转成2015京津创业加速营第二期-只能硬件创业转成</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="item">
                            <div class="date">
                                7/11
                            </div>
                            <div class="desc">
                                <h3>2015京津创业加速营第二期-只能硬件创业转成</h3>
                                <p>简介：2015京津创业加速营第二期-只能硬件创业转成2015京津创业加速营第二期-只能硬件创业转成</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="pagination">
                <ul>
                    <li class="previous"><a href="#"><img src="/www/img/pager/previous.png"></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li class="next"><a href="#"><img src="/www/img/pager/next.png"></a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper" style="position:relative; height:360px;">
            <div class="footer-choice center">
                <em>--</em>
                <span>选择自由之旅的理由</span>
            </div>
            <ul class="footer-reasons">
                <li class="item">
                    <a href="#" class="icon_comm" target="_blank">
                        <img src="/www/img/group.png" width="70" height="70" />
                        <p class="bold">活跃的创投圈子</p>
                    </a>
                    <p class="text-left">最活跃的专业投资人，不断更新的优质项目库，实力资本与潜力项目在此对接</p>
                </li>
                <li class="item">
                    <a href="#" class="icon_serv" target="_blank">
                        <img src="/www/img/group.png" width="70" height="70" />
                        <p class="bold">活跃的创投圈子</p>
                    </a>
                    <p class="text-left">最活跃的专业投资人，不断更新的优质项目库，实力资本与潜力项目在此对接</p>
                </li>
                <li class="item">
                    <a href="#" class="icon_effi" target="_blank">
                        <img src="/www/img/group.png" width="70" height="70" />
                        <p class="bold">活跃的创投圈子</p>
                    </a>
                    <p class="text-left">最活跃的专业投资人，不断更新的优质项目库，实力资本与潜力项目在此对接</p>
                </li>
                <li class="item">
                    <a href="#" class="icon_digi" target="_blank"><img src="/www/img/group.png" width="70" height="70" />
                        <p class="bold">活跃的创投圈子</p>
                    </a>
                    <p class="text-left">最活跃的专业投资人，不断更新的优质项目库，实力资本与潜力项目在此对接</p>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="footer-wrap">
            <div class="footer-wrap-links">
                <div class="ilinks center">
                    <a href="#" class="blue" target="_blank">新闻动态</a>
                    <a href="#" class="blue" target="_blank">专题报道</a>
                    <a href="#" class="blue" target="_blank">关于我们</a>
                    <a href="#" class="blue" target="_blank">服务条款</a>
                    <a href="#" class="blue" target="_blank">隐私条款</a>
                    <a href="#" class="blue" target="_blank">联系我们</a>
                </div>
                <div class="flinks center">
                    <a href="/" target="_blank">@自由之旅</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer-copy center">
            <p>Copyright © 自由之旅 鄂ICP备12016076号-2</p>
        </div>
    </div>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <script src="/scripts/www/news.js"></script>
    <script>
    $(function(){
         $('.news .nav .item').click(function(){
            var index = $(this).index();
            $('.news .nav .item').eq(index).addClass('current').siblings().removeClass('current');
            $('.news .cont ul').eq(index).show().siblings().hide();
        });
    })
    </script>
</body>
</html>