/** bg in dir: /images/ */
[icon-bg]{background:url(../images/bg.png) no-repeat;display:inline-block;}
[icon-bg="08"]{width:14px;height:2px;background-position:0 0;}
[icon-bg="06"]{width:4px;height:7px;background-position:-19px 0;}
[icon-bg="icon_ok"]{width:12px;height:9px;background-position:-28px 0;}
[icon-bg="bg-scrollbar-end"]{width:15px;height:11px;background-position:-45px 0;}
[icon-bg="icon_new"]{width:23px;height:11px;background-position:-65px 0;}
[icon-bg="09"]{width:9px;height:13px;background-position:-93px 0;}
[icon-bg="10"]{width:9px;height:13px;background-position:-107px 0;}
[icon-bg="07"]{width:14px;height:14px;background-position:-121px 0;}
[icon-bg="05"]{width:16px;height:16px;background-position:-140px 0;}
[icon-bg="icon_qq_n"]{width:14px;height:16px;background-position:-161px 0;}
[icon-bg="16"]{width:20px;height:20px;background-position:0 -21px;}
[icon-bg="icon_arrow_right"]{width:12px;height:20px;background-position:-25px -21px;}
[icon-bg="icon_call"]{width:22px;height:20px;background-position:-42px -21px;}
[icon-bg="icon_maptag"]{width:14px;height:20px;background-position:-69px -21px;}
[icon-bg="icon_weibo"]{width:20px;height:20px;background-position:-88px -21px;}
[icon-bg="14"]{width:27px;height:21px;background-position:-113px -21px;}
[icon-bg="15"]{width:19px;height:21px;background-position:-145px -21px;}
[icon-bg="17"]{width:20px;height:21px;background-position:-169px -21px;}
[icon-bg="icon_msg"]{width:26px;height:21px;background-position:-194px -21px;}
[icon-bg="icon_test"]{width:29px;height:23px;background-position:-225px -21px;}
[icon-bg="select"]{width:17px;height:23px;background-position:-259px -21px;}
[icon-bg="icon_24_call"]{width:24px;height:24px;background-position:-281px -21px;}
[icon-bg="icon_24_code"]{width:24px;height:24px;background-position:-310px -21px;}
[icon-bg="icon_24_mail"]{width:24px;height:24px;background-position:-339px -21px;}
[icon-bg="icon_24_phone"]{width:24px;height:24px;background-position:-368px -21px;}
[icon-bg="icon_24_position"]{width:24px;height:24px;background-position:-397px -21px;}
[icon-bg="icon_24_xzj"]{width:24px;height:24px;background-position:-426px -21px;}
[icon-bg="icon_mail_gray"]{width:24px;height:24px;background-position:-455px -21px;}
[icon-bg="icon_main_green"]{width:24px;height:24px;background-position:-484px -21px;}
[icon-bg="icon_mobile_gray"]{width:24px;height:24px;background-position:-513px -21px;}
[icon-bg="icon_mobile_green"]{width:24px;height:24px;background-position:-542px -21px;}
[icon-bg="icon_child"]{width:28px;height:25px;background-position:-571px -21px;}
[icon-bg="icon_user"]{width:26px;height:26px;background-position:-604px -21px;}
[icon-bg="tag_map"]{width:55px;height:26px;background-position:-635px -21px;}
[icon-bg="icon_qq"]{width:26px;height:27px;background-position:-695px -21px;}
[icon-bg="12"]{width:19px;height:28px;background-position:-726px -21px;}
[icon-bg="13"]{width:19px;height:28px;background-position:-750px -21px;}
[icon-bg="icon_top"]{width:28px;height:28px;background-position:0 -54px;}
[icon-bg="04"]{width:40px;height:29px;background-position:-33px -54px;}
[icon-bg="icon_question"]{width:30px;height:30px;background-position:-78px -54px;}
[icon-bg="11"]{width:32px;height:32px;background-position:-113px -54px;}
[icon-bg="icon_flight"]{width:32px;height:32px;background-position:-150px -54px;}
[icon-bg="icon_good"]{width:32px;height:32px;background-position:-187px -54px;}
[icon-bg="icon_light"]{width:32px;height:32px;background-position:-224px -54px;}
[icon-bg="icon_safe"]{width:32px;height:32px;background-position:-261px -54px;}
[icon-bg="icon_service"]{width:25px;height:32px;background-position:-298px -54px;}
[icon-bg="20"]{width:111px;height:33px;background-position:0 -91px;}
[icon-bg="03"]{width:55px;height:34px;background-position:-116px -91px;}
[icon-bg="icon_money"]{width:43px;height:41px;background-position:-176px -91px;}
[icon-bg="icon_language"]{width:50px;height:43px;background-position:-224px -91px;}
[icon-bg="icon_24h"]{width:48px;height:45px;background-position:-279px -91px;}
[icon-bg="icon_secure"]{width:38px;height:45px;background-position:-332px -91px;}
[icon-bg="icon_space"]{width:45px;height:45px;background-position:-375px -91px;}
[icon-bg="icon_ensure"]{width:48px;height:46px;background-position:-425px -91px;}
[icon-bg="icon_self"]{width:50px;height:47px;background-position:-478px -91px;}
[icon-bg="icon_music"]{width:36px;height:48px;background-position:-533px -91px;}
[icon-bg="icon_social"]{width:45px;height:48px;background-position:-574px -91px;}
[icon-bg="icon_sport"]{width:48px;height:48px;background-position:-624px -91px;}
[icon-bg="nav_language"]{width:48px;height:48px;background-position:-677px -91px;}
[icon-bg="nav_language_a"]{width:48px;height:48px;background-position:-730px -91px;}
[icon-bg="nav_logic"]{width:48px;height:48px;background-position:0 -144px;}
[icon-bg="nav_logic_a"]{width:48px;height:48px;background-position:-53px -144px;}
[icon-bg="nav_music"]{width:48px;height:48px;background-position:-106px -144px;}
[icon-bg="nav_music_a"]{width:48px;height:48px;background-position:-159px -144px;}
[icon-bg="nav_nature"]{width:48px;height:48px;background-position:-212px -144px;}
[icon-bg="nav_nature_a"]{width:48px;height:48px;background-position:-265px -144px;}
[icon-bg="nav_self"]{width:48px;height:48px;background-position:-318px -144px;}
[icon-bg="nav_self_a"]{width:48px;height:48px;background-position:-371px -144px;}
[icon-bg="nav_social"]{width:48px;height:48px;background-position:-424px -144px;}
[icon-bg="nav_social_a"]{width:48px;height:48px;background-position:-477px -144px;}
[icon-bg="nav_space"]{width:48px;height:48px;background-position:-530px -144px;}
[icon-bg="nav_space_a"]{width:48px;height:48px;background-position:-583px -144px;}
[icon-bg="nav_sport"]{width:48px;height:48px;background-position:-636px -144px;}
[icon-bg="nav_sport_a"]{width:48px;height:48px;background-position:-689px -144px;}
[icon-bg="icon_logic"]{width:44px;height:49px;background-position:-742px -144px;}
[icon-bg="icon_nature"]{width:49px;height:49px;background-position:0 -198px;}
[icon-bg="icon_travel"]{width:47px;height:50px;background-position:-54px -198px;}
[icon-bg="01"]{width:160px;height:53px;background-position:-106px -198px;}
[icon-bg="02"]{width:191px;height:53px;background-position:-271px -198px;}
[icon-bg="19"]{width:170px;height:54px;background-position:-467px -198px;}
[icon-bg="ACAlogo"]{width:109px;height:57px;background-position:-642px -198px;}
[icon-bg="camp"]{width:89px;height:60px;background-position:0 -260px;}
[icon-bg="ieca"]{width:89px;height:61px;background-position:-94px -260px;}
[icon-bg="meprc"]{width:89px;height:61px;background-position:-188px -260px;}
[icon-bg="nacac"]{width:89px;height:61px;background-position:-282px -260px;}
[icon-bg="pb"]{width:89px;height:61px;background-position:-376px -260px;}
[icon-bg="see"]{width:89px;height:61px;background-position:-470px -260px;}
[icon-bg="18"]{width:70px;height:70px;background-position:0 -326px;}
[icon-bg="logo"]{width:151px;height:70px;background-position:-75px -326px;}
[icon-bg="deer_ok"]{width:76px;height:77px;background-position:-231px -326px;}
[icon-bg="deer_phone"]{width:76px;height:80px;background-position:-312px -326px;}
[icon-bg="person_coder"]{width:85px;height:85px;background-position:-393px -326px;}
[icon-bg="person_test"]{width:85px;height:85px;background-position:-483px -326px;}
[icon-bg="person_uiue"]{width:85px;height:85px;background-position:-573px -326px;}
[icon-bg="deer_question"]{width:72px;height:98px;background-position:-663px -326px;}
[icon-bg="deer_warning"]{width:77px;height:99px;background-position:0 -429px;}
[icon-bg="deer_yes"]{width:72px;height:99px;background-position:-82px -429px;}
[icon-bg="100%"]{width:106px;height:106px;background-position:-159px -429px;}
[icon-bg="30wan"]{width:106px;height:106px;background-position:-270px -429px;}
[icon-bg="360"]{width:106px;height:106px;background-position:-381px -429px;}
[icon-bg="99%"]{width:106px;height:106px;background-position:-492px -429px;}
[icon-bg="person"]{width:106px;height:106px;background-position:-603px -429px;}
[icon-bg="deer_welcome"]{width:102px;height:133px;background-position:0 -540px;}
[icon-bg="wdmap"]{width:492px;height:252px;background-position:-107px -540px;}
[icon-bg="bg-scrollbar"]{width:28px;height:480px;background-position:0 -797px;}
[icon-bg="21"]{width:120px;height:30px;background-position:0 -1282px;}
[icon-bg="22"]{width:120px;height:30px;background-position:-125px -1282px;}
[icon-bg="23"]{width:120px;height:30px;background-position:-250px -1282px;}
[icon-bg="24"]{width:120px;height:30px;background-position:-375px -1282px;}
[icon-bg="25"]{width:120px;height:30px;background-position:-500px -1282px;}
[icon-bg="26"]{width:120px;height:30px;background-position:-625px -1282px;}
[icon-bg="icon-message"]{width:15px;height:15px;background-position:-540px -30px;}
[icon-bg="logo-user"]{width: 120px;height: 122px;background-position: -617px -545px;}